<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>CM-Traffic</title>
    <link href="index.css" rel="stylesheet" type="text/css" />
    
</head>

<body>
    <div class="header">
        <center>CM-Traffic</center>
    </div>
    <div class="inputGroup">
        <form id="reportForm">
            <input id="r" class="inputRoad" name="roadName" type="text">
            <br/>
            <input name="status" type="radio" value="Heavy">Heavy
            <input name="status" type="radio" value="Medium">Medium
            <input name="status" type="radio" value="Light">Light
            <input type="button" id="reportInfo" value="report information">
        </form>
    </div>
    <div id="trafficDetail">
        <div class="card" v-for="trafficBlock in trafficBlocks">
            <span class="roadName"> {{trafficBlock.roadName}}</span>
            <br/>
            <div class="status">
                <span class="heavy" v-if="trafficBlock.status=='Heavy'">{{trafficBlock.status}}</span>
                <span class="medium" v-if="trafficBlock.status=='Medium'">{{trafficBlock.status}}</span>
                <span class="light" v-if="trafficBlock.status=='Light'">{{trafficBlock.status}}</span>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="index.js"></script>
</body>

</html>